{% extends "base_generic.html" %}
{% block content %}
  <h1>Borrowed books</h1>
  
  {% if bookinstance_list %}
  <ul>
    {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }}) - {{ bookinst.borrower }}
        {% if perms.catalog.can_mark_returned %}
          <form method="post" action="{% url 'renew-book-librarian' bookinst.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Renew</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No books currently borrowed.</p>
  {% endif %}
{% endblock %}